<h1>{{title}}</h1>
<h2>Fill our form</h2>

<form method="POST" action="/celebrities/create">

  <div class="mb-3">
    <label for="celebrityName" class="form-label">Name</label>
    <input type="text"  class="form-control" id="celebrity name" aria-describedby="name" name="celebrityname" placeholder="Type a name"  />
  </div>

  <div class="mb-3">
    <label for="celebrityOcupattion" class="form-label">Occupation</label>
    <input type="text"  class="form-control" id="celebrity ocupation" aria-describedby="name"  name="celebrityoccupation" placeholder="His/her occupation..." />
  </div>

  <div class="mb-3">
    <label for="celebrityCatch" class="form-label">Catch Phrase</label>
    <input type="text"  class="form-control"  id="celebrity catch" aria-describedby="name"  name="celebritycatch" placeholder="His/her cathch phrase..." />
  </div>

  <button type="submit" class="btn btn-primary mb-3 m-4 tex-center">Submit your celebrity</button>

</form>