<a href="/">Go back</a>
<hr>
<h2>New Celebrity</h2>
<form action="/celebrities/create" method="post">

<input type="text" name="name" placeholder="Artist name">

<input type="text" name="occupation" placeholder="Artist occupation">

<input type="text" name="catchPhrase" placeholder="Most popular phrase">

<button type="submit">Create Celebrity</button>


</form>
