<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-primary" href="/celebrities/new">Create new celebrity</a>
<a class="btn btn-primary" href="/celebrities">Celebrities list</a>
<a class="btn btn-primary" href="/movies/new">Create new Movies</a>
<a class="btn btn-primary" href="/movies">Movies list</a>