<div class="container text-center position-absolute top-50 start-50 translate-middle">
    <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/new" class="btn btn-primary mb-3 m-4 tex-center" >Register a celebrity</a>
<a href="/movies/new" class="btn btn-primary mb-3 m-4 tex-center">Register a movie</a>
</div>