<div class="list-group">
  <a href="/celebrities" class="list-group-item list-group-item-action">See All the Celebrities</a>
  <a href="/celebrities/new" class="list-group-item list-group-item-action">Create your Celebrity</a>
  <a href="/movies" class="list-group-item list-group-item-action">See All the Movies</a>
  <a href="/movies/new" class="list-group-item list-group-item-action">Create new Movies</a>
</div>